body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

.tabs button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.tab {
  display: none;
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 150px;
}